<div class="content">
  <!-- BEGIN MARKET SALES WIDGET -->
  <div class="row tiles-container">
    <div class="col-md-12">
      <div class="tiles white" data-aspect-ratio="true">
        <div class="col-md-7 b-grey b-r no-padding" style="height:100%">
          <div class="p-l-20 p-r-20 p-b-10 p-t-10 b-b b-grey">
            <h5 class="text-success bold inline">TASK</h5>
            <h5 class="text-black bold inline m-l-10">TRACKER</h5>

            <div class=""><i class="fa fa-sort-asc fa-2x text-error inline p-b-10"
                             style="vertical-align: super;"></i>

              <h1 class="text-error bold inline no-margin"> 15,580.11</h1>
            </div>
          </div>
          <div class="p-l-20 p-r-20 p-b-10 p-t-10 b-b b-grey">
            <div class="pull-left">
              <p class="text-success">Open</p>

              <p class="text-black">1280 tasks</p>
            </div>
            <div class="pull-right">
              <p class="text-success">Day Range</p>

              <p class="text-black">15,568.11 - 16,203.25</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="overlayer fullwidth">
            <div class="overlayer-wrapper">
              <rickshaw
                  rickshaw-options="options2"
                  rickshaw-features="features2"
                  rickshaw-series="series2">
              </rickshaw>
            </div>
          </div>
        </div>
        <div class="col-md-5 no-padding full-height">
          <div class="p-l-15 p-r-15 p-b-10 p-t-10 b-b b-grey">
            <h4 class="text-black ">Projects</h4>
            <input type="text" class="dark form-control" id="txtinput2" placeholder="Search">
          </div>
          <div class="market-share-widget-innerscroller">
            <div class="scroller scrollbar-dynamic" data-height="100%" data-always-visible="1">
              <div class="p-l-15 p-r-15 p-b-10 p-t-10 b-b b-grey">
                <div class="pull-left">
                  <p class="small-text">GMY</p>
                </div>
                <div class="pull-right">
                  <p class="small-text">GMY & SKR 100</p>
                </div>
                <div class="clearfix"></div>
                <div class="pull-left">
                  <h4 class="semi-bold">18,500.11</h4>
                </div>
                <div class="pull-right" style="line-height: 27px;"><span class="label label-important"
                                                                         style="vertical-align: bottom;">-318.2</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="p-l-15 p-r-15 p-b-10 p-t-10 b-b b-grey">
                <div class="pull-left">
                  <p class="small-text">KPM</p>
                </div>
                <div class="pull-right">
                  <p class="small-text">KPMG 350</p>
                </div>
                <div class="clearfix"></div>
                <div class="pull-left">
                  <h4 class="semi-bold">15,425.25</h4>
                </div>
                <div class="pull-right" style="line-height: 27px;"><span class="label label-success"
                                                                         style="vertical-align: bottom;">+318.2</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="p-l-15 p-r-15 p-b-10 p-t-10 b-b b-grey">
                <div class="pull-left">
                  <p class="small-text">PTR</p>
                </div>
                <div class="pull-right">
                  <p class="small-text">PRT & SPR 245</p>
                </div>
                <div class="clearfix"></div>
                <div class="pull-left">
                  <h4 class="semi-bold">11,540.11</h4>
                </div>
                <div class="pull-right" style="line-height: 27px;"><span class="label label-important"
                                                                         style="vertical-align: bottom;">-345.2</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="p-l-15 p-r-15 p-b-10 p-t-10 b-b b-grey">
                <div class="pull-left">
                  <p class="small-text">HGM</p>
                </div>
                <div class="pull-right">
                  <p class="small-text">HGM & POR 450</p>
                </div>
                <div class="clearfix"></div>
                <div class="pull-left">
                  <h4 class="semi-bold">9,500</h4>
                </div>
                <div class="pull-right" style="line-height: 27px;"><span class="label label-success"
                                                                         style="vertical-align: bottom;">+100.2</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="p-l-15 p-r-15 p-b-10 p-t-10 b-b b-grey">
                <div class="pull-left">
                  <p class="small-text">MKR</p>
                </div>
                <div class="pull-right">
                  <p class="small-text">MKR & SPR 547</p>
                </div>
                <div class="clearfix"></div>
                <div class="pull-left">
                  <h4 class="semi-bold">15,855.11</h4>
                </div>
                <div class="pull-right" style="line-height: 27px;"><span class="label label-important"
                                                                         style="vertical-align: bottom;">-318.2</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MARKET SALES WIDGET -->
</div>